@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  position: relative;
  height: calc(100vh - 120px);
  background-image: url("../img/findAShop-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 80%;        /* maximum height of container */
  padding: 2rem;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* let content stack from top */

  overflow-y: auto;       /* adds vertical scroll if content is too tall */
  box-sizing: border-box;
}

.container h1 {
    font-family: 'Lobster Two', sans-serif;
    color: #f8ebcc;
    margin-bottom: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 500px;
  border-radius: 20px;
  background-color: #f8ebcc;
  border: 2px solid #275780;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.search-bar input {
  border: none;
  padding: 0.4rem 0.8rem;
  background: transparent;
  color: #275780;
  outline: none;
  width: 470px;
  font-family: "Montserrat", sans-serif;
}

.search-bar input::placeholder {
  color: #275780;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.search-bar button {
    all: unset;
    background: none;
    border: none;
    cursor: pointer;
    color: #275780;
}