@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-image: url("../img/texture.png");
  background-color: rgba(253, 237, 198, 0.9);
  background-blend-mode: normal;
  color: #275780;
  height: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  position: relative;
}

.logo img {
  width: 80px;
  height: auto;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  letter-spacing: 1.3px;
}

.nav-links a {
  text-decoration: none;
  color: #275780;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #012646;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #275780;
  overflow: hidden;
  margin-left: 2rem;
}

.search-container input {
  border: none;
  padding: 0.4rem 0.8rem;
  background: transparent;
  color: #275780;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
}

.search-container input::placeholder {
  color: #275780;
  text-align: end;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Hamburger styling (hidden on desktop) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1001;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #275780;
}